@layout GaHealthcareNurses.Client.Shared.SecondaryLayout
@page "/nurse/sign-in"
@inject HttpClient Http
@inject GaHealthcareNurses.Client.NewFolder.WebServicePath wsp
@using GaHealthcareNurses.Entity.ViewModels;
@using GaHealthcareNurses.Client.Data.ViewModels
@using Newtonsoft.Json;
@using GaHealthcareNurses.Entity.Models;
@inject IToastService toastService
@using Syncfusion.Blazor.Inputs
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navigation
@using Syncfusion.Blazor.Spinner

<GaHealthcareNurses.Client.Shared.NurseHeader />
<div class="frontend default-padding signin_page">
    <div class="login_sec">
        <div class="center_login">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="site-heading text-center">
                        <h2 data-aos="fade-up">Sign In : <span>Nurse</span></h2>

                    </div>
                </div>
            </div>
            <div class="login_box">
                <div class="inner_box">
                    <EditForm Model="@login" class="formSec" OnValidSubmit="()=>Login(login)">
                        <DataAnnotationsValidator />
                        <div class="inputFiled form-group">
                            <SfTextBox Placeholder="Email" FloatLabelType="@FloatLabelType.Auto" Type="InputType.Text" @bind-Value="login.Email" class="form-control" />
                            <ValidationMessage For="@(() => login.Email)" />
                        </div>
                        <div class="inputFiled form-group">
                            <SfTextBox Placeholder="Password" FloatLabelType="@FloatLabelType.Auto" Type="InputType.Password" @bind-Value="login.Password" class="form-control" />
                            <ValidationMessage For="@(() => login.Password)" />
                        </div>
                        <button type="submit" name="submit" class="create_account btn-theme border ">
                            Sign In<i class="fa fa-paper-plane"></i>
                        </button>
                        <div class="formFooterLink text-center"><p class="subheading"> Or <span><br /><a href="nurse/register">Sign Up</a> | <a href="nurse/forgot-password">Forgot Password</a></span></p></div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>
<SfSpinner Size="40" Type="SpinnerType.Bootstrap4" @bind-Visible="isLoading"></SfSpinner>
<GaHealthcareNurses.Client.Shared.FormFooter />

@code{

    LoginModel login = new LoginModel();
    bool isLoading = false;

    public async Task Login(LoginModel login)
    {
        isLoading = true;
        var responseMessage = await Http.PostAsJsonAsync(wsp.Path + "Login", login);
        var response = responseMessage.Content.ReadAsStringAsync().Result;
        var data = (JsonConvert.DeserializeObject<Response<LoginViewModel<UserDetails>>>(response)).Data;
        if (data != null)
        {
            if (data.Role == "Nurse")
            {
                await localStorage.SetItemAsync("nurseData", data);
                await localStorage.RemoveItemAsync("adminData");
                await localStorage.RemoveItemAsync("clientData");
                await localStorage.RemoveItemAsync("agencyData");
                toastService.ShowSuccess("Login Successfull!");
                navigation.NavigateTo("nurse/inbox");
            }
            else
                toastService.ShowError("Enter valid email and password!");
        }
        else
            toastService.ShowError("Enter valid email and password");

        isLoading = false;
        StateHasChanged();
    }
}